<nav>
    <div class  = 'site-title'>
        <a href="/"><h1> File Share Service </h1></a>
        <p>  Mingi Kim </p>
    </div>
    <ul>
        <li><a href = '/'>HOME</a></li>
        <li><a href = "list">File list</a></li>
        <li><a href = "/upload">Upload a File</a></li>
    </ul>
</nav>