<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
        <%- include('./partials/nav.ejs')%>

    <div class = "404 content"> 
        404 PAGE NOT FOUND :/ 
        URLs and URIs are incorrectly formed.
    </div>
</body>

<%- include("./partials/footer.ejs") %>
</html>