<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>


    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4"> Upload a file </h1>
                <form action="/upload" method = "post" enctype="multipart/form-data"> 
                    <div class="custom-file mb-3">
                        <input type="file" name="file" id="file" class="custom-file-input">
                        <!-- <label for="file" class = "custom-file-label"> Select </label> -->
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>


</body>
<%- include("./partials/footer.ejs") %>
</html>